a:link, a:visited, a:active, a:hover {
    text-decoration: underline;
    color: hsl(0, 0%, 0%);
}

.site-branding {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    text-align: center;
}

.main-navigation {
    display: none;
}

.widget-area {
    display: none;    
}

.site-footer {
    display: none;    
}